@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}

/* 헤더 부분 크기 */
.header {
    max-width: 1020px;
    height: 200px;
    margin: 0 auto;
    background-color: #Ffaec8;

    top: 0;
    left: 0;
    right: 0;
    position: sticky;
}

.head {
    width: 1020px;
    height: 60px;
    clear: both;
}

/* 로그인 영역 */
.login_area {
    width: 10%;
    height: 100%;
    float: right;
	display: inline-block;
	text-align: center;
}

.login_button{
	height: 50%;
    background-color: #C46162;
    margin-top: 15px;
    line-height: 30px;
    color: #802A2F;
    font-size: 15px;
    font-weight: 800;
    border-radius: 10px;
}

/* 검색 영역 */
.search_area {
    width: 1020px;
    height: 80px;
    background-color: yellow;
}

/* 메뉴 영역 */
.menu_area {
    width: 1020px;
    height: 50px;
}

.menu_button {
    margin-top: 20px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #C46162;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

/* float 속성 해제 */
.clearfix{
	clear: both;
}