<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gold.mapper.UserMapper">
    <select id="userJoin" parameterType="com.gold.model.UserVO">
        INSERT INTO USER (USER_ID, USER_PW, USER_NAME, USER_MAIL, USER_ZIP, USER_ADR, USER_DADR, LEVEL, ADD_DATE, MONEY, POINT)
        VALUES(#{userID},#{userPW},#{userName},#{userMail},#{userZIP},#{userADR},#{userDADR}, 1, sysdate, 0, 0);
    </select>
</mapper>